body {
    margin-left:auto;
    margin-right: auto;
}


.barra {
    background-color: #3b5331;
    padding: 5px;
}

.meu-carrinho {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 5px solid #ccc5;
    padding-top: 20px;
    padding-bottom: 50px;
}

.imagem-ajust {
    display: flex;
    align-items: flex-start;
}

.imagem-ajust img {
    margin-right: 20px;
}

.ajust {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.ajust div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.botoes {
    display: flex;
    flex-direction: column;

}

.botoes button {
    margin-top: 10px;
    background-color: gold;
    border: transparent;
    border-radius: 15px;
    font-size: 20px;
    width: 300px;
    height: 60px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.footer {
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    color: aqua;
    bottom: 0;
}
.botoes button:hover {
    background-color: orange; 
}


.botoes button:active {
    background-color: darkorange; 
}