body, html {
    margin: 0;
    padding: 0;
}

.cx-content {
    display: flex;
    align-items: flex-start;
    background-color: #DAAB4F;
    padding: 20px;
    margin: 0; 
    width: 100vw; 
    box-sizing: border-box; 
}

.cx-content img {
    margin-right: 20px; /* espaço à direita da imagem */
}

.cx-text {
    margin-left: 70px;
    margin-top: 50px;
    display: flex; /* exibir os elementos em linha */
    flex-direction: column; /* dispor os elementos em coluna */

}

.cx-text h2, .cx-text p, .cx-text form {
    margin: 0; /* remover margens padrão */
    padding: 5px;
    font-size: 35px;
}

.cx-text h2 {
    font-size: 50px;
}

.text {
    width: 300px; /* Defina a largura desejada */
    padding: 10px; /* Adicione preenchimento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Adicione uma borda */
    border-radius: 5px; /* Adicione bordas arredondadas */
}


.seller {
    display: flex; /* torna os elementos filhos em flex containers */
    justify-content: center; /* alinha os elementos horizontalmente ao centro */
    align-items: center; /* alinha os elementos verticalmente ao centro */
    text-align: center; /* centraliza o texto dentro do h2 */
    margin-top: 20px;
}

.seller h2 {
    margin-right: 20px; /* espaço entre o h2 e o botão */
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seller button {
    background-color: #548149; /* cor de fundo verde */
    color: white; /* cor do texto */
    border: none; /* remover borda */
    padding: 10px 20px; /* ajustar o preenchimento conforme necessário */
    cursor: pointer; /* cursor de mão ao passar */
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.seller button:hover {
    background-color: #45a049; /* cor de fundo verde mais escura ao passar o mouse */
}

 