@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
}

nav.menu-lateral{
    width: 300px;
    height: 100%;
    background-color: #3E3C3C ;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #548149 ;

    position: fixed;
    top: 0;
    left: 0;


}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color:white;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover{
    background: #548149 ;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;

}

ul li.item-menu a .txt-link{
    margin-left: 20px;
}

ul li.item-menu a .icon > i{
    font-size: 40px;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}



.content,
.content-pick-ups {
    flex: 1;
    padding: 20px;
    max-width: 30%;
    overflow-x: auto;
    margin-left: 300px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.text-color {
    background-color: #548149;
    font-size: 25px;
    color: #f2f2f2;
    font-style: oblique;
}

.spacer {
    margin-right: 90px;
}

.bold {
    font-weight: bold;
}
