<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    footer {
      background-color: black;
      color: white;
      text-align: center;
      width: 100%;

      bottom: 0;
      position: fixed;
      left: 0;
    }
  </style>
  <body>
    <footer>
      <p>Farm2U</p>
    </footer>
  </body>
</html>
