<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/landing.css" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="logo">
          <h2>Farm2u</h2>
        </div>
        <ul>
          <li><a href="/login">Login</a></li>
          <li><a href="/registo-comprador">Criar Conta</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
