<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="topnav">
        <div class="logo"><a href="/landing-page.html">Farm2U</a></div>
        <div class="topnav-center">
          <input type="text" placeholder="Search.." />
          <button type="submit"><i class="bx bx-search-alt-2"></i></button>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Categorias</button>
          <div class="dropdown-content">
            <a href="#">Agricultor</a>
            <a href="#">Mercearia</a>
            <a href="#">Talho</a>
            <a href="#">Peixaria</a>
          </div>
        </div>
        <div class="topnav-right">
          <a href="/carrinho.html"><i class="bx bxs-shopping-bag"></i></a>
          <a href="/login-usuario.html"><i class="bx bx-user"></i></a>
        </div>
      </div>
    </header>
  </body>
</html>
