<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="/css/painel_controle_vendedor.css" />
    <link rel="stylesheet" href="/css/img.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />   
  </head>
  <body>
    <nav class="menu-lateral">
      <ul>
        <li class="item-menu">
          <a href="/gerenciamento">
            <span class="icon"><i class="bi bi-kanban"></i></span>
            <span class="txt-link">Gerenciamento de pedidos</span>
          </a>
        </li>
        <li class="item-menu">
          <a href="/geral">
            <span class="icon"><i class="bi bi-tv"></i></span>
            <span class="txt-link">Visão geral</span>
          </a>
        </li>
        <li class="item-menu">
          <a href="/produtos">
            <span class="icon"><i class="bi bi-plus-circle"></i></span>
            <span class="txt-link">Produtos</span>
          </a>
        </li>
        <li class="item-menu">
          <a href="/perfil-vendedor">
            <span class="icon"><i class="bi bi-person-lines-fill"></span>
            <span class="txt-link">Meu Perfil</span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
