<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" />
    <link rel="stylesheet" href="/css/vendedor.css" type="text/css" />
    <title>Acordo Farm2u</title>
  </head>
  <body>
    <header>
      <div class="head">
        <i class="fa-solid">Farm2U</i>
      </div>
    </header>
    <div class="terms-container">
      <h2>
        Bem-vindo ao Farm2U! Ao se registrar como vendedor em nossa plataforma,
        você concorda com os seguintes termos e condições:
      </h2>
      <br />
      <h2>Registro de Conta:</h2>
      <h3>
        Você deve fornecer informações precisas e atualizadas durante o processo
        de registro. É responsabilidade do vendedor manter suas informações de
        contato e detalhes da empresa atualizados.
      </h3>
      <br />
      <h2>Licenças e Certificações:</h2>
      <h3>
        Você declara que possui todas as licenças e certificações necessárias
        para operar seu negócio de acordo com as leis e regulamentos locais. O
        Farm2U se reserva o direito de solicitar prova de suas licenças a
        qualquer momento.
      </h3>
      <br />
      <h2>Listagem de Produtos:</h2>
      <h3>
        Ao listar seus produtos em nossa plataforma, você concorda em fornecer
        informações precisas e atualizadas sobre os itens que você oferece à
        venda. Você é responsável por garantir que os produtos estejam em
        conformidade com todas as regulamentações de segurança alimentar e
        padrões de qualidade.
      </h3>
      <br />
      <h2>Comunicação com os Clientes:</h2>
      <h3>
        Você concorda em fornecer um excelente serviço ao cliente e responder
        prontamente a todas as consultas e solicitações dos clientes. Isso
        inclui fornecer informações precisas sobre os produtos, prazos de
        entrega e políticas de devolução.
      </h3>
      <br />
      <h2>Transações Financeiras:</h2>
      <h3>
        O Farm2U utiliza o Stripe como método de pagamento online. Ao utilizar
        nossa plataforma, você concorda com os termos e condições do Stripe. O
        Farm2U não se responsabiliza por quaisquer problemas relacionados a
        transações financeiras entre vendedores e clientes.
      </h3>
      <br />
      <h2>Avaliações e Feedback:</h2>
      <h3>
        Os clientes têm o direito de deixar avaliações e feedback sobre suas
        experiências de compra. Você concorda em respeitar as opiniões dos
        clientes e usar o feedback para melhorar seus produtos e serviços.
      </h3>
      <br />
      <h2>Privacidade e Segurança:</h2>
      <h3>
        O Farm2U se compromete a proteger a privacidade e os dados dos
        vendedores. Suas informações pessoais e comerciais serão tratadas com o
        mais alto nível de segurança e confidencialidade.
      </h3>
      <br />
      <h2>Encerramento da Conta:</h2>
      <h3>
        O Farm2U reserva-se o direito de encerrar sua conta de vendedor a
        qualquer momento, se violar estes termos e condições ou se houver
        suspeita de atividades fraudulentas ou não éticas.
      </h3>
      <br />
      <h2>
        Ao continuar a usar a plataforma Farm2U como vendedor, você concorda em
        cumprir estes termos e condições. Se tiver alguma dúvida ou preocupação,
        entre em contato conosco em algumacoisa@gmail.com.
      </h2>
    </div>
    <div class="container">
      <form action="/registro-em-espera">
        <button class="button">Concordo com os termos da Farm2u</button>
      </form>
    </div>
  </body>
</html>
