<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="width: 100%; height: 100%; position: relative; background: white"
    >
      <div
        style="
          width: 1208px;
          height: 486px;
          left: 345px;
          top: 248px;
          position: absolute;
          background: #3b5331;
        "
      ></div>
      <img
        style="
          width: 350px;
          height: 350px;
          left: 170px;
          top: 310px;
          position: absolute;
        "
        src="/img/confirme.png"
      />
      <div
        style="left: 557px; top: 310px; position: absolute; text-align: right"
      >
        <span
          style="
            color: white;
            font-size: 60px;
            font-family: Lucida Sans;
            font-weight: 600;
            word-wrap: break-word;
          "
          >Registo concluído com sucesso!<br /><br /></span
        ><span
          style="
            color: white;
            font-size: 40px;
            font-family: Lucida Sans;
            font-weight: 400;
            word-wrap: break-word;
          "
          >Aguarde no máximo 2 dias úteis<br />para sua conta ficar ativa
          <br />e começar a vender seu produtos.<br />Receberá um e-mail e<br />uma
          notificação no seu telemóvel</span
        >
      </div>
      <div
        style="
          left: 382px;
          top: 769px;
          position: absolute;
          text-align: right;
          color: #1e1e1e;
          font-size: 60px;
          font-family: Lucida Sans;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Obrigada por se tornar um parceiro !
      </div>
    </div>
  </body>
</html>
