<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" />

    <link rel="stylesheet" href="/css/registro_vendedor2.css" />
    <title>Registo de Informações Extras</title>
  </head>
  <body class="container">
    <header>
      <div class="head">
        <i class="fa-solid">Farm2U</i>
      </div>
    </header>
    <form action="/users/seller" method="post">
      <div class="lista-vendedor">
        <h2>
          Registrar-se na Farm2U nunca foi tão fácil. Torna-se um parceiro agora
          mesmo!
        </h2>
        <div class="input-box">
          <input type="text" name="name" placeholder="Nome" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="text" name="email" placeholder="Email" required />
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Palavra-Passe" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="input-box">
          <input
            type="text"
            name="address"
            placeholder="Morada da Loja"
            required
          />
          <i class="bx bxs-location-plus"></i>
        </div>
        <div class="input-box">
          <input
            type="number"
            name="phone"
            placeholder="Número de Telemovel"
            required
          />
          <i class="bx bxs-phone"></i>
        </div>
        <input type="hidden" name="role" value="seller" />
        <div>
          <label for="nome">Nome do Estabelecimento</label>
          <br />
          <input type="text" id="nome" name="store_name" required />
        </div>
        <br />
        <div>
          <label for="iban">IBAN</label>
          <br />
          <input type="text" id="iban" name="iban" required />
        </div>
        <br />
        <div>
          <label for="escolhaOpcao">Tipo de Comércio</label>
          <br />
          <select id="escolhaOpcao" name="seller_category_id" required>
            <option value="">Selecionar</option>
            <% sellerCategories.forEach(category => { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>
        <br />
        <div>
          <label for="escolhaOpcao">Raio distância entregas</label>
          <br />
          <select id="escolhaOpcao" name="delivery_radius" required>
            <option value="">Selecionar</option>
            <option value="5">Até 5km</option>
            <option value="10">Até 10km</option>
            <option value="15">Até 15km</option>
          </select>
        </div>
      </div>
      <div class="upload">
        <div>
          <label for="uploadFotoEstablecimento">Foto da Loja</label>
          <br />
          <input
            type="file"
            id="uploadImg"
            name="img"
            accept="image/*"
            required
          />
        </div>
        <button class="button">Próximo</button>
      </div>
    </form>
  </body>
</html>
