<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Conta</title>
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" />
    <link rel="stylesheet" href="/css/vendedor.css" type="text/css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="register-seller">
    <h1 class="seller-h1">Alcance novos clientes com Farm2U!</h1>
    <br />
    <div class="wrapper">
      <form action="/sellers/addAcount" method="POST">
        <h2>
          Registrar-se na Farm2U nunca foi tão fácil. Torna-se um parceiro agora
          mesmo!
        </h2>
        <div class="input-box">
          <input type="text" placeholder="Nome" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Email" required />
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Palavra-Passe" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <form action="/registo-vendedor2">
          <button type="submit" class="btn">Criar Conta</button>
        </form>

        <div class="register">
          <p>Já tem conta? <a href="iniciar-sessao.html">Iniciar Sessão</a></p>
        </div>
      </form>
    </div>
    <section>
      <h2 class="title">Perguntas Frequentes</h2>
      <div class="pf">
        <div class="question">
          <h3>
            Quais os documentos necessários para se registar como parceiro?
          </h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer"><p>PIPIPIPIPOIPIPIPIPIPIPIPIPIP</p></div>
        </div>
      </div>
      <div class="pf">
        <div class="question">
          <h3>Quais formas de entregas?</h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer"><p>PIPIPIPIPOIPIPIPIPIPIPIPIPIP</p></div>
        </div>
      </div>
      <div class="pf">
        <div class="question">
          <h3>Quanto tempo demora para se tornar um parceiro?</h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer"><p>PIPIPIPIPOIPIPIPIPIPIPIPIPIP</p></div>
        </div>
      </div>
      <div class="pf">
        <div class="question">
          <h3>Como se recebe um novo pedido?</h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer"><p>PIPIPIPIPOIPIPIPIPIPIPIPIPIP</p></div>
        </div>
      </div>
      <div class="pf">
        <div class="question">
          <h3>Como usar a plataforma de forma fácil?</h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer"><p>PIPIPIPIPOIPIPIPIPIPIPIPIPIP</p></div>
        </div>
      </div>
      <div class="pf">
        <div class="question">
          <h3>Quanto é a taxa da Farm2U?</h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer"><p>PIPIPIPIPOIPIPIPIPIPIPIPIPIP</p></div>
        </div>
      </div>
    </section>
    <script src="app.js"></script>
  </body>
</html>
