<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" />
    <link rel="stylesheet" href="/css/vendedor.css" type="text/css" />
    <title>Registo de Informações Extras</title>
  </head>
  <body>
    <header>
      <div class="head">
        <i class="fa-solid">Farm2U</i>
      </div>
    </header>

    <main class="container-ent-pick">
      <div>
        <label for="nome">Nome do Estabelecimento</label>
        <input type="text" id="nome" name="nome" required />
      </div>

      <div>
        <label for="morada">Morada</label>
        <input type="text" id="morada" name="morada" required />
      </div>

      <div>
        <label for="telemovel">Telemóvel</label>
        <input type="tel" id="telemovel" name="telemovel" required />
      </div>

      <div>
        <label for="nomeTitular">Nome do Titular da Conta Bancária</label>
        <input type="text" id="nomeTitular" name="nomeTitular" required />
      </div>

      <div>
        <label for="iban">IBAN</label>
        <input type="text" id="iban" name="iban" required />
      </div>

      <div>
        <label for="escolhaOpcao">Tipo de Comércio</label>
        <select id="escolhaOpcao" name="escolhaOpcao" required>
          <option value="">Selecionar</option>
          <option value="agricultor">Agricultor</option>
          <option value="mercearia">Mercearia</option>
          <option value="talho">Talho</option>
          <option value="peixaria">Peixaria</option>
          <option value="outro">Outro</option>
        </select>
      </div>

      <div>
        <label for="uploadDocumentoFrente"
          >Foto do Documento de Identificação (FRENTE)</label
        >
        <input
          type="file"
          id="uploadDocumentoFrente"
          name="documentoFrente"
          accept="image/*"
          required
        />
      </div>

      <div>
        <label for="uploadDocumentoVerso"
          >Foto do Documento de Identificação (VERSO)</label
        >
        <input
          type="file"
          id="uploadDocumentoVerso"
          name="documentoVerso"
          accept="image/*"
          required
        />
      </div>

      <div>
        <label for="uploadIban">Foto Comprovativo IBAN</label>
        <input
          type="file"
          id="uploadIban"
          name="documentoIban"
          accept="image/*"
          required
        />
      </div>

      <div>
        <label for="uploadLicenca">Foto da Licença Comercial</label>
        <input
          type="file"
          id="uploadLicenca"
          name="documentoLicenca"
          accept="image/*"
          required
        />
      </div>
      <form action="/registo-vendedor3.html">
        <button type="submit">Próximo</button>
      </form>
    </main>
  </body>
</html>
