<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Conta</title>
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" />
    <link rel="stylesheet" href="/css/vendedor.css" type="text/css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="register-seller">
    <h1 class="seller-h1">Alcance novos clientes com Farm2U!</h1>
    <br />
    <div class="wrapper">
      <form action="/users/seller" method="POST" enctype="multipart/form-data">
        <h2>
          Registrar-se na Farm2U nunca foi tão fácil. Torna-se um parceiro agora
          mesmo!
        </h2>
        <div class="input-box">
          <input type="text" name="name" placeholder="Nome" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="text" name="email" placeholder="Email" required />
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Palavra-Passe" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="input-box">
          <input
            type="text"
            name="address"
            placeholder="Morada da Loja"
            required
          />
          <i class="bx bxs-location-plus"></i>
        </div>
        <div class="input-box">
          <input
            type="number"
            name="phone"
            placeholder="Número de Telemovel"
            required
          />
          <i class="bx bxs-phone"></i>
        </div>
        <button type="submit" class="btn">Continuar</button>
        <div class="register">
          <p>Já tem conta? <a href="/login">Iniciar Sessão</a></p>
        </div>
      </form>
    </div>
    <section>
      <h2 class="title">Perguntas Frequentes</h2>
      <div class="pf">
        <div class="question">
          <h3>
            Quais os documentos necessários para se registar como parceiro?
          </h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer">
            <p>
              Foto do Estabelecimento, foto do documento de Identificação, foto
              do Comprovativo de IBAN e uma foto da licença comercial
            </p>
          </div>
        </div>
      </div>
      <div class="pf">
        <div class="question">
          <h3>Como fazer chegar o meu produto ao meu cliente?</h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer">
            <p>
              Para fazer o seu produto chegar ao cliente tem 2 opções
              <strong>obrigatorias:</strong> Pick Up e Entrega ao Domicilio
            </p>
          </div>
        </div>
      </div>
      <div class="pf">
        <div class="question">
          <h3>Quanto tempo demora para se tornar um parceiro?</h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer">
            <p>A verificação da sua conta deve demorar no máximo 48 horas</p>
          </div>
        </div>
      </div>
      <div class="pf">
        <div class="question">
          <h3>Quanto é a taxa da Farm2U?</h3>
          <svg width="15" height="10" viewBox="0 0 42 25">
            <path
              d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
            ></path>
          </svg>
          <div class="answer">
            <p>A Farm2U tem uma taxa de 5% por cada pedido.</p>
          </div>
        </div>
      </div>
    </section>
    <script>
      const faqs = document.querySelectorAll(".pf");
      faqs.forEach((pf) => {
        pf.addEventListener("click", () => {
          pf.classList.toggle("active");
        });
      });
    </script>
  </body>
</html>
