<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/painel_controle_vendedor.css" />

    <title>Visão geral</title>
  </head>
  <body>
    <nav class="menu-lateral">
      <ul>
        <li class="item-menu">
          <a href="/gerenciamento">
            <span class="icon"><i class="bi bi-kanban"></i></span>
            <span class="txt-link">Gerenciamento de pedidos</span>
          </a>
        </li>
        <li class="item-menu">
          <a href="/geral">
            <span class="icon"><i class="bi bi-tv"></i></span>
            <span class="txt-link">Visão geral</span>
          </a>
        </li>
        <li class="item-menu">
          <a href="/produtos">
            <span class="icon"><i class="bi bi-plus-circle"></i></span>
            <span class="txt-link">Produtos</span>
          </a>
        </li>
        <li class="item-menu">
          <a href="#">
            <span class="icon"></span>
            <span class="txt-link"></span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="content-alinhar">
      <div class="box-info">
        <div style="background-color: #7595e7" class="box-info-single">
          <div class="info-text">
            <h3>Média dos preços: <%= average %></h3>
          </div>
        </div>
        <div style="background-color: #e09135" class="box-info-single">
          <div class="info-text">
            <h3>Desvio padrão dos preços: <%= std %></h3>
          </div>
        </div>
        <div style="background-color: #548149" class="box-info-single">
          <div class="info-text">
            <h3>Produto mais caro: <%= expensive %></h3>
          </div>
        </div>
        <div style="background-color: #4757bf" class="box-info-single">
          <div class="info-text">
            <h3>Produto mais barato: <%= cheapest %></h3>
          </div>
        </div>
      </div>
      <div class="grafico">
        <canvas id="grafico1" style="width: 900px; height: 500px"></canvas>
        <canvas id="grafico2" style="width: 900px; height: 500px"></canvas>
      </div>
      <script>
        const ctx1 = document.getElementById("grafico1");
        const ctx2 = document.getElementById("grafico2");

        let labelsX = [
          "Janeiro",
          "Fevereiro",
          "Março",
          "Abril",
          "Maio",
          "Junho",
          "Julho",
          "Agosto",
          "Setembro",
          "Outubro",
          "Novembro",
          "Dezembro",
        ];
        let valores = [4, 5, 2, 9, 11, 6, 8, 8, 3, 15, 10, 7];

        new Chart(ctx1, {
          type: "bar",
          data: {
            labels: labelsX,
            datasets: [
              {
                label: "Vendas Mensais",
                data: valores,
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });

        const dataDonut = {
          labels: ["Produto A", "Produto B", "Produto C", "Produto D"],
          datasets: [
            {
              label: "Distribuição de Vendas",
              data: [30, 20, 25, 25],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
              ],
              borderWidth: 1,
            },
          ],
        };

        new Chart(ctx2, {
          type: "doughnut",
          data: dataDonut,
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: "top",
              },
              title: {
                display: true,
                text: "Distribuição de Vendas por Produto",
              },
            },
          },
        });
      </script>
    </div>
  </body>
</html>
