*{
    font-family:sans-serif;
}

.input-box input{
    font-size: 16px;
}


.input-box i{
    font-size: 20px;
}

.wrapper .remember{
    font-size: 14.5px;
}

.wrapper .btn{
    font-size: 16px;
    font-weight: 600;
}

.wrapper .register{
    font-size: 14.5px;
}

.register p a{
    font-weight: 600;
}

.title{
    font-size: x-large;
}

.question h3{
    font-size: medium;   
}

.answer p{
    font-size: small;
}
.barra-verde h2 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.barra h2 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.ajust h2 {
    font-size: 20px;
   
}

.topnav .logo a{
    font-size: 40px;
    font-family: sans-serif;
}

.topnav a {
    font-size: 40px;
}

.topnav .dropdown-content a{
    font-size: 10px;
}

.barra h2{
    color: black;
}