body, html {
    margin: 0;
    padding: 0;
}
.nav-bar {
    background-color: #548149; 
    overflow: hidden;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

.logo {
    color: white; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline; 
    margin-left: 28px;
    margin-right: 15px;
}

ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 30px;
    
}

ul li a:hover {
    text-decoration: none; 
    
}

.cx-content {
    display: flex; 
    align-items: flex-start; 
    background-color: #DAAB4F; 
    padding: 20px; 
}

.cx-content img {
    margin-left: 50px;
        
}

.cx-text {
    margin-left: 70px;
    margin-top: 50px;
    display: flex; 
    flex-direction: column; 

}

.cx-text h2, .cx-text p, .cx-text form {
    margin: 0; 
    padding: 5px;
    font-size: 35px;
   
}

input[type="submit"] {
    background-color: #548149;
    color: white;
    font-size: 18px;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cx-text h2 {
    font-size: 50px;
}

.text {
    width: 300px; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
   
}

.footer {
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
    margin-top: 20px;
}

.footer h2 {
    margin-right: 20px; 
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer button {
    background-color: #548149; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.footer button:hover {
    background-color: #45a049; 
}

 