body, html {
    margin: 0;
    padding: 0;
}

.content {
    background: rgba(255, 255, 255, 0.7) ;
    padding: 20px;
}
 
.content h2 {
    margin: 0; 
 }
  
.seller-btn{
    background: transparent;
    border: none;
    cursor: pointer;
}

.title h2 {
    text-align: center;
}

.seller {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.row {
    display: flex;
    justify-content: space-around;
}

.list a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;

}

.panel a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
}

.right{
    width: 100%;
    margin-left: auto;
}


.localizacao {
    display: flex; 
    align-items: center; 
    width: 300px; 
}
  
.localizacao i {
    margin-right: 5px; 
}
  
.seller {
    margin-bottom: 50px;
}
  
#sellerRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;         
}
  
.seller-card {

    flex: 0 0 calc(25% - 30px); 
    box-sizing: border-box;  
}
  
  
.seller-card:hover {
    transform: translateY(-5px); 
}
  
.seller-info h3 {
    margin-bottom: 5px; 
    color: #333; 
}
  
.seller-info p {
    color: #777; 
}
  
.seller-btn button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
  
.seller-btn button:hover {
    background-color: #45a049; 
}

#map {
    height: 500px;
    width: 80%;
    margin: 0 auto; 
}
